<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{title}"></title>
    <script th:src="@{/js/springmc/register.js}" defer></script>
</head>

<body>
    <div layout:fragment="content">
        <h1 th:text="#{register.heading1}"></h1>
        <p th:text="#{register.description}"></p>
        <input type="text" id="apikey" required size="40" />
        <button id="btn-register" type="button" th:text="#{register.button}"></button>
        <p id="registerResult"></p>
    </div>
</body>

</html>